# This file is used when deploying to Predix Edge OS - scp in and then run from within

version: '3'

services:
  edge-hello-world:
    image: "predixadoption/edge-hello-world:{EDGE_HELLOWORLD_VERSION}"
    environment:
      - UPDATE_RATE_SEC=1.0
      - TURBINE_IN_CHANNEL=turbine_control
      - TURBINE_OUT_CHANNEL=turbine_measurement
      - WEATHER_OUT_CHANNEL=weather
      - CDP_CONFIG=/config/cdp_config.json
    ports:
      - "9098:9005"
    networks:
      - predix-edge-broker_net
networks:
  predix-edge-broker_net:
    external: true
